body{
    background-color: black;
    color: #fff;
}
article{
    background-color: rgb(44, 43, 43);
}
#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}
.resaltado {

}
nav>ul>li {
    list-style: none;
}
nav>ul>li>a {
    text-decoration: none;
}
#footer_blog {

}
