body{
    background-color: rgba(36, 133, 6, 0.74);
    color: #fff;
}
article{
    background-color: rgb(71, 68, 68);
}
nav>ul>li {

}
#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}