body{
    background-color: black;
    color: #fff;
}
article{
    background-color: rgb(44, 43, 43);
}
#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}
.resaltado {

}
nav>ul>li {
    list-style: none;
}
nav>ul>li>a {
    text-decoration: none;
}
#footer_blog {

}
section>header {
    grid-column: span 12;
}
/*section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
  /*  gap: 3rem;*/

/*header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: 3rem;
} 
main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    gap: 3rem;
} 
aside {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 3rem;
}
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: 3rem;
}*/